<h1><%= @the_director.name %></h1>

<p><%= @the_director.name %> directed <%= @num_films %> films.</p>

<ol>
<% @the_movies.each do |film| %>
  <li>
    <%= film.title %> (<%= film.year %>)
  </li>
<% end %>
</ol>